datasets/tuna_map/global_catch_5deg_1m_firms_level0_public.csv
datasets/tuna_map/global_catch_5deg_1m_firms_level0_ISO-19115.xml
datasets/tuna_map/global_catch_5deg_1m_firms_level0_ISO-19110.xml
datasets/tuna_map/global_catch_5deg_1m_firms_level0_harmonized.csv
datasets/tuna_map/cwp-grid-map-5deg_x_5deg.csv
